*{
    padding: 0;
    margin: 0;
}


.container p{
    background: linear-gradient(#e66465, #9198e5);
    text-shadow: 5px 5px #558ABB;
    text-align: center;
    /* height: 100vh; */
}

.container img {
    box-shadow: 2px 5px 10px white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 20%;
    border-radius: 20px;
}